name: Sentinel Cloud Monitor

on:
#  push:
#    branches: [ "main" ]
  workflow_dispatch:

jobs:
  run_sentinel_cloud:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      # 1. We build the Docker image right here on GitHub's servers
      # This uses THEIR bandwidth, not mine.
      - name: Build Sentinel Docker Image
        run: docker build -t vfi_monitor .

      # 2. Run the Monitor (Establish Baseline)
      # We map the repository's 'data/frames' folder to the container
#      - name: Run 1 - Check Baseline Drift (frames/ drift)
#        run: |
#          docker run \
#            -e DRIFT_THRESHOLD=30.0 \
#            -v ${{ github.workspace }}/data/frames:/app/incoming_data \
#            -v ${{ github.workspace }}/temp_status:/app/status_output \
#            vfi_monitor

      # 3. Run the Monitor (Check Bad Data)
      # This effectively tests the "Drifted" folder
      - name: Run 2 - Check Drifted Data (drifted_frames)
        continue-on-error: true # We expect this to fail (detect drift), so don't stop the workflow
        run: |
          docker run \
            -e DRIFT_THRESHOLD=30.0 \
            -v ${{ github.workspace }}/data/drifted_frames:/app/incoming_data \
            -v ${{ github.workspace }}/temp_status:/app/status_output \
            vfi_monitor

      # 4. Display Results in the Log
      - name: Show Drift Score
        run: |
          echo "--- FINAL SENTINEL REPORT ---"
          echo "STATUS: $(cat temp_status/status.txt)"
          echo "DRIFT SCORE: $(cat temp_status/score.txt)%"
          
      # 5. (Optional) Upload the Database so I can download it later
      # This lets you run the Dashboard locally without running the heavy Docker container
      - name: Upload Logs
        uses: actions/upload-artifact@v4
        with:
          name: sentinel-logs
          path: temp_status/drift_history.db